@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400,400i,700';

body {margin: 0; padding: 0;}
.layout {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100vh;
}

code {
    font-family: "Source Code Pro", monospace;
    padding: 0 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    pre.highlight & {
        padding: 0;
        border: none;
    }
}

pre.highlight {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
}

nav, article {
    overflow-y: auto;
}

nav {
    width: 250px;
    background-color: #ddd;
    padding: 10px 0;
    h2, a {
        padding: 0 10px;
    }
    h2 {
        font-size: 0.7em;
        text-transform: uppercase;
        color: #666;
        padding-top: 10px;
        padding-bottom: 3px;
        margin: 0;
    }
    a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 3px 10px;
        margin: 0;
    }
}

.gitlab-link {
    float: right;
    background-color: #ddd;
    color: #666;
    display: block;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    text-decoration: none;
    &:hover {
        background-color: #ccc;
    }
}

article {
    flex: 1;
    padding: 0 20px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
}

td, th {
    border: 1px solid #eee;
    padding: 5px 10px;
    margin: 0;
}

@import url("github.css");
