<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> - Cheatsheets</title>
    <%= stylesheet_link_tag :style %>
  </head>

  <body class="<%= page_classes %>">
    <div class="layout">
        <nav>
            <% sitemap.resources.group_by {|p| p.data["category"]}.each do |category, pages| %>
                <h2><%= category %></h2>
                <% pages.each do |page| %>
                    <%= link_to page.data.title, page.url %>
                <% end %>
            <% end %>
        </nav>
        <article>
            <a href="https://gitlab.com/-/ide/project/abre/cheatsheets/blob/master/-/source/<%= current_resource.file_descriptor[:relative_path] %>" class="gitlab-link">Edit on GitLab</a>
            <h1><%= current_page.data.title %></h1>
            <%= yield %>
        </article>
    </div>
  </body>
</html>
