---
title: Cheatsheets
---
<ul>
<% for page in current_page.children %>
    <li><%= link_to page.data.title, page.url %></li>
<% end %>
<li><a href="https://gitlab.com/abre/cheatsheets/new/master/source">Add a new cheatsheet...</a></li>
</ul>